BasedOnStyle: Microsoft
IndentWidth: 3
AlignAfterOpenBracket: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
BreakBeforeBraces: Custom
ColumnLimit: 150
IndentPPDirectives: AfterHash
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: true
NamespaceIndentation: All
