BasedOnStyle: Mozilla
IndentWidth: 2
AlignAfterOpenBracket: true
AlignOperands: true
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
ColumnLimit: 140
IndentPPDirectives: AfterHash
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: true
NamespaceIndentation: All
Standard: Latest
