name: clang-format Check
on: [push, pull_request]

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'src/hook'
          - 'src/launcher'
    steps:
    - uses: actions/checkout@v3
    - name: Run clang-format style check
      uses: jidicula/clang-format-action@v4.10.1
      with:
        clang-format-version: '13'
        check-path: ${{ matrix.path }}
